#header{
    background-color: darkseagreen;
}
#menu{
    background-color: aqua;
    position: fixed;
    width: 160px;
    height: 100%;
}
#menu ul{
    list-style-type: none;
}
#menu button{
    width: 100px;

}
#menu ul li button:hover{
    background-color: white;
}
#content{
    background-color: bisque;
    margin-left: 160px;
    width: 800px;
    height: 100%;
    padding-left: 20px;

}
#footer{
    background-color: coral;
    margin-top: 600px;
    text-align: center;
}
#myform{
    width: 200px;
    height: 200px;
    background-color: silver;
    border-radius: 10px;
    padding: 20px;
}
#resultform{
    width: 200px;
    height: 200px;
    background-color: silver;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}
table{
    background-color: silver;
}
