#header{
    background-color: rgb(6, 89, 130);
    height: 100px;
    width: auto;
    text-align: center;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
    padding: 20px;
    border-style: solid;
  }
  #menu{
    background-color: rgb(6, 89, 130);
    float: left;
    width: 160px;
    height: 600px;
    margin-left: -30px;
    padding-left: 30px;
  }
  #menu ul {
    list-style-type: none;
  }
  #menu button {
      width:100%;
      margin-left: -20px;
  }
  #menu ul li button:hover{
    background-color: white;
  }
  #content {
      margin-left: 160px;
      float: top;
      padding-left: 20px;
      padding-right: 20px;
  }
  #footer{
      background-color:lightgrey;
      clear: both;
      float: top;
      height: 200px;
      text-align: center;
      margin-left: -30px;
      margin-right: -30px;
  }
  .myform {
    background-color:silver;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
  }
  
  pre {
    background-color: white;
    padding: 10px;
    width: 50%;
    margin-right: 20px;
    border-style: solid;
  }
#resultform{
    width: 200px;
    height: 200px;
    background-color: silver;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}
table{
    background-color: silver;
    font-family: Garamond, serif;
}
#hideButton{
    visibility: hidden;
}

